body {
    margin: 0px;
    font-family: Verdana;
}

p {
    font-family: Verdana;
    font-size: 12px;
    color: #aaaaaa;
}

#clear {
	clear: both;
}

#logo {
    background-image: url('../images/commspace.jpg');
    height: 104px;
    width: 400px;
    background-repeat: no-repeat;
    background-position: right;
    border: 0px solid blue;
	float: left;
}

#links {
    height: 88px;
	width: 1000px;
    text-align: left;
    border: 0px solid red;
}

#blackstrip {
    height: 16px;
	width: 100%;
	background: #000000;
	border: 0px solid blue;
}

#frame {
	width: 100%;
    height: 350px;
	background: #000000;
	border: 0px solid red;
}

#description {
	width: 400px;
	height: 300px;
	background: #000000;
	border: 1px solid blue;
	float: left;
}

#gallery {
	width: 200px;
	height: 300px;
	background: #000000;
	border: 1px solid red;
}

#redstrip {
    height: 3px;
	width: 100%;
	background: #ff0000;
	border: 0px solid blue;
}

#slogan {
    background-image: url('../images/slogan.jpg');
    height: 50px;
    width: 1000px;
    background-repeat: no-repeat;
    background-position: right;
    border: 0px solid blue;
}

#arb {
    background-image: url('../images/arb.jpg');
    height: 80px;
    width: 1000px;
    background-repeat: no-repeat;
    background-position: left;
    border: 0px solid blue;
}
/*
#out {
    width: 100%;
    height: 100%;
    border-spacing: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px solid yellow;
}

#in {
    width: 100%;
    border-spacing: 0px;
    padding: 0px;
    border: 0px;
    margin: 0px;
    border: 0px solid yellow;
}

p {
    font-family: Verdana;
    font-size: 12px;
    color: #aaaaaa;
}

#p {
    font-family: Verdana;
    font-size: 12px;
    color: #aaaaaa;
    text-align: left;
}

#title {
    font-family: Verdana;
    font-size: 12px;
    color: #aaaaaa;
    text-align: center;
}
#header {
    height: 104px;
    background: #555555;
}

#logo {
    background-image: url('../images/logo.jpg');
    height: 104px;
    width: 400px;
    border: 0px solid blue;
    background-repeat: no-repeat;
    background-position: right;
    border: 0px solid yellow;
}

#links {
    height: 25px;
    text-align: right;
    padding-top: 65px;
    border: 0px solid blue;
}

a#menu {
    font-family: Verdana;
    font-size: 16px;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

a#current_menu {
    font-family: Verdana;
    font-size: 16px;
    color: #000000;
    padding: 5px;
    text-decoration: underline;
}

#description {
    height: 357px;
    background: #000000;
    border: 0px solid white;
}

#gallery {
    width: 100%;
    height: 371px;
    background: #000000;
}

#left {
    width: 400px;
    height: 459px;
    border: 0px solid blue;
    float:left;
}

#right {
    height: 459px;
    width: 600px;
    float:left;
}

#blackstripe {
    background: #000000;
    height: 355px;
}

#logo_bottom {
    height: 14px;
    background: #000000;
    width: 324px;
    text-align: right;
}

#redline {
    height: 3px;
    background: red;
    width: 819px;
    /*clear: both;*/
/*
}

#slogan {
    height: 50px;
    background-image: url('../images/slogan.jpg');
    background-repeat: no-repeat;
    background-position: right;
    clear: both;
}

#create {
    width: 400px;
    height: 50px;
    background-image: url('../images/create.jpg');
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;
}

#expand {
    width: 400px;
    height: 50px;
    background-image: url('../images/expand.jpg');
    background-repeat: no-repeat;
    background-position: center;
    border: 0px solid red;
}

#improve {
    width: 400px;
    height: 50px;
    background-image: url('../images/improve.jpg');
    background-repeat: no-repeat;
    background-position: center;
    border: 0px solid red;
}

#arb {
    height: 100px;
    background-image: url('../images/arb_cmyk.gif');
    background-repeat: no-repeat;
    background-position: left bottom;
}

#arb_member {
    font-family: Verdana;
    font-size: 12px;
}

*/